<section class="card">
  {{!-- id will reference the artist id --}}
  <a href="/album/{{id}}">
    <div class="card-body">
      {{!-- filename will reference the image and description will be the alt tag--}}
      <img ="../Assets/images/{{filename}}" alt="Image of {{name}}">
    </div>
  {{!-- name will reference the artist name  --}}
  <footer>{{album_name}}</footer>
  </a>
</section>