<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="icon" href="../Assets/Misc_Photos/DRR-logo.png" />
    <!-- Reset CSS -->
    <link rel="stylesheet" href="../css/reset.css" />
    <!-- jquery UI LINK -->
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
   
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />

    <!-- text Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Merienda:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- personal CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <title>Dev Row Records </title>
  </head>
  <body>
   
    <!-- LOGIN MODAL -->
    <div
      class="modal fade"
      id="login-modal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content" id="login-modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="login-modal-message">Login</h1>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label
                  for="loginUsernameInput"
                  class="col-form-label"
                >Username:</label>
                <input
                  type="username"
                  class="form-control"
                  id="loginUsernameInput"
                  placeholder="username"
                />
                <label
                  for="loginPasswordInput"
                  class="col-form-label"
                >Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="loginPasswordInput"
                  placeholder="password"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer" id="modal-login-submit-div">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Close</button>
            <button
              type="button"
              class="btn btn-danger"
              id="modal-login-submit"
              data-bs-dismiss="modal"
            >Login</button>
          </div>
        </div>
      </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div
      class="modal fade"
      id="signup-modal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content" id="signup-modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="signup-modal-message">Sign Up Here</h1>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="signup-email-input" class="col-form-label">Email:</label>
                <input
                  type="signup-email-input"
                  class="form-control"
                  id="signup-email-input"
                  placeholder="example@gmail.com"
                />
                <label
                  for="signup-username-input"
                  class="col-form-label"
                >Username:</label>
                <input
                  type="username"
                  class="form-control"
                  id="signup-username-input"
                  placeholder="username"
                />
                <label
                  for="signup-password-input"
                  class="col-form-label"
                >Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="signup-password-input"
                  placeholder="password"
                />
                <label>Minimum Requirements: 8 characters, 1 uppercase letter, 1 lowercase letter, 1 number</label>
              </div>
            </form>
          </div>
          <div class="modal-footer" id="modal-signup-submit-div">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Close</button>
            <button
              type="button"
              class="btn btn-danger"
              id="modal-signup-submit"
              data-bs-dismiss="modal"
            >Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    {{! SIGNUP FAIL MODAL }}
    <div
      class="modal fade"
      id="signupFail-modal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="signupFail-modal-message"></h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-footer" id="modal-login-submit-div">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>
    {{! SIGNUP LOGIN SUCCESS MODAL }}
    <div
      class="modal fade"
      id="signupSuccess-modal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="signupSuccess-modal-message"></h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-footer" id="modal-login-submit-div">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>

    {{! BODY }}
    {{! BODY }}
    <main style="position: relative; height:100%; width:100%;">
      <div class="count-particles" id="particles-js"> </div>

      <!-- NAV BAR -->
      <!-- NAV BAR -->
      <nav
        class="headerContainer navbar navbar-expand-lg navbar-dark bg-dark fullScreenImageNav"
        id="navbar"
        style="border-bottom: .2rem solid rgb(145, 77, 74);"
      >
        <div class="container-fluid">
          <a class="navbar-brand text-uppercase" id="Main_Title"><h1
              class="display-1"
            >DEV ROW RECORDS</h1></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end pe-2 fs-3"
            id="navbarNav"
          >
            <ul class="navbar-nav" id="header-ul">
              <li class="nav-item active" id="get-home-li">
                <a class="nav-link Home_Link text-uppercase" href = "/">Home
                  <span class="sr-only"></span></a>
              </li>
              {{!-- <li class="nav-item" id="get-all-artists-li"> --}}
                <li class="nav-item">
                <a href = "/artists"
                  
                  class="nav-link Home_Link text-uppercase"
                  {{!-- id="get-all-artists" --}}
                >Artists</a>
              </li>
              <li class="nav-item" id="get-all-music-li">
                <a
                  class="nav-link Home_Link text-uppercase"
                  href = "/albums"
                >Albums</a>
              </li>
              <li class="nav-item header-get-store-li" id="header-get-store-li">
                <a
                  class="nav-link Home_Link text-uppercase"
                  href = "/merch"
                >Store</a>
              </li>
              {{#if isLoggedIn}}

                <li class="nav-item" id="header-get-favorite-li">
                  <a
                    class="nav-link Home_Link text-uppercase"
                    href = "/favorites"
                  >Favorites</a>
                </li>
                <!-- Signout Button -->
                <li class="nav-item"><a
                  id="signout-button"
                  class="nav-link Home_Link text-uppercase signout-button"
                >Sign Out</a></li>
              {{else}}
                <!-- Login and Signup Links/Buttons -->
                <li class="nav-item"><a
                  class="nav-link Home_Link text-uppercase"
                  data-bs-target="#login-modal"
                  data-bs-toggle="modal"
                >Login</a></li>
                <li class="nav-item"><a
                  class="nav-link Home_Link text-uppercase"
                  data-bs-target="#signup-modal"
                  data-bs-toggle="modal"
                >Sign-Up</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>

      {{{body}}}
      <!-- FOOTER -->
      <!-- FOOTER -->
      <div class="container-fluid bg-dark" id="footer-div">
        <footer
          class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4"
        >
          <p class="col-md-4 mb-0 text-muted">© 2023 Dev Row Records, Inc</p>

          <a
            href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
          >
            <img
              class="bi me-2 footer-image"
              src="../Assets/Misc_Photos/DRR-logo.png"
              alt="band-logo"
            />
          </a>

          <ul
            class="nav col-md-4 justify-content-end mx-auto"
            id="footer-nav-ul"
          >
            <li id="footer-get-home-li" class="nav-item"><a
                href = "/"
                class="nav-link px-2 text-muted"
              >Home</a></li>
            <li id="footer-get-artists-li" class="nav-item"><a
                href = "/artists"
                class="nav-link px-2 text-muted"
              >Artists</a></li>
            <li id="footer-get-albums-li" class="nav-item"><a
                href = "/albums"
                class="nav-link px-2 text-muted"
              >Albums</a></li>
            <li id="footer-get-store-li" class="nav-item"><a
                href = "/merch"
                class="nav-link px-2 text-muted"
              >Store</a>
            </li>
            {{#if isLoggedIn}}

              <li class="nav-item" id="footer-get-favorite-li">
                <a href="/favorites"
                  class="nav-link px-2 text-muted"
                  id="footer-get-favorite"
                >Favorites</a>
              </li>
              <!-- Signout Button -->
              <li class="nav-item"><a
                  id="signout-button"
                  class="nav-link px-2 text-muted signout-button"
                >Sign Out</a></li>
            {{else}}
              <li class="nav-item"><a
                  class="nav-link px-2 text-muted"
                  data-bs-target="#login-modal"
                  data-bs-toggle="modal"
                >Login</a></li>
              <li class="nav-item"><a
                  class="nav-link px-2 text-muted"
                  data-bs-target="#signup-modal"
                  data-bs-toggle="modal"
                >Sign-Up</a></li>
            {{/if}}
          </ul>
        </footer>
      </div>
    </main>
    {{! </div> }}

    <!-- jQuery script -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- jquery UI script -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   
    <!-- bootstrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- personal JS script -->
    <script src="../js/nav.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/particle.js"></script>

  </body>
</html>