<!-- BODY -->

<!-- ALL ALBUMS SECTION -->
<div class="container-fluid mx-0">
  <div class="row mt-5 mb-2 justify-content-aroud">
    <h1 class="text-center">ALBUMS SECTION</h1>
  </div>

  <div class="row">
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img
          src="../Assets/artist-thumbnail.PNG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img
          src="../Assets/artist-thumbnail.PNG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img src="../Assets/PrayersFoto.jpg" class="card-img-top" alt="..." />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img
          src="../Assets/artist-thumbnail.PNG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img
          src="../Assets/artist-thumbnail.PNG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img
          src="../Assets/artist-thumbnail.PNG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img
          src="../Assets/artist-thumbnail.PNG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div
      class="col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3"
    >
      <div class="card album-card" >
        <img
          src="../Assets/artist-thumbnail.PNG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>

  </div>

</div>