<!-- BODY -->


<!-- ALL ARTISTS SECTION -->
<div class="container-fluid mx-0" style = "border: .2rem solid red">
    <div class = "row">
      <h1>ARTISTS SECTION</h1>
    </div>
    <!-- FEATURED ARTISTS -->
    
    <div class = "row" style = "border: .2rem solid blue">
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      
    </div>
    <!-- REVIEWS SECTION -->
    <div class = "row" style = "border: .2rem solid blue">
      <h2>REVIEWS SECTION</h2>
      
    </div>
    <div class = "row" style = "border: .2rem solid blue">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Band #1</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Album</h6>
          <p class="card-text">Awesome album!!!!!</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Band #1</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Album</h6>
          <p class="card-text">Awesome album!!!!!</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Band #1</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Album</h6>
          <p class="card-text">Awesome album!!!!!</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Band #1</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Album</h6>
          <p class="card-text">Awesome album!!!!!</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      
    </div>

     
</div>