<!-- BODY -->


<!-- ALL ARTISTS SECTION -->
<div class="container-fluid mx-0" style = "border: .2rem solid red">
    <div class = "row">
      <h1>ARTISTS SECTION</h1>
    </div>
    <!-- FEATURED ARTISTS -->
    
    <div class = "row" style = "border: .2rem solid blue">
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      
    </div>

     
</div>