{{!-- Favorites Section --}}
<div class="container-fluid mx-0 p-4">
  <div class = "row mt-4 justify-content-around">
    <h1 class="text-center title-page">Favorites</h1>
  </div>
  <div>
    <h2 class="favorite-artists border-bottom text-center my-5">Artists:</h2>
    <section class="d-flex flex-wrap flex-row justify-content-start my-5">
      {{#if viewData.artists}}
        {{#each viewData.artists as |artist|}}
        {{> favorite-artists}}
        {{/each}}
      {{else}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {{/if}}
  </div>
  <div>
    <h2 class="favorite-albums border-bottom text-center my-5">Albums:</h2>
    <section class="d-flex flex-wrap flex-row justify-content-start my-5">
      {{#if viewData.albums}}
        {{#each viewData.albums as |album|}}
        {{> favorite-albums}}
        {{/each}}
      {{else}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {{/if}}
  </div>
  <div>
    <h2 class="favorite-merch border-bottom text-center my-5">Merch:</h2>
    <section class="d-flex flex-wrap flex-row justify-content-start my-5">
      {{#if viewData.merch}}
        {{#each viewData.merch as |merch|}}
        {{> favorite-merch}}
        {{/each}}
      {{else}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {{/if}}
  </div>
</div>