<section class="container">
  <h2 class="favorite-artists">Favorite Artists:</h2>
  <section class="flex-row justify-center">
    {{#each favorites.artists as |artist|}}
    {{> favorite-artists}}
    {{/each}}
  </section>
</section>
<section class="container">
  <h2 class="favorite-albums">Favorite Albums:</h2>
  <section class="flex-row justify-center">
    {{#each favorites.albums as |album|}}
    {{> favorite-albums}}
    {{/each}}
  </section>
</section>
<section class="container">
  <h2 class="merch-wish-list">Merch Wish List:</h2>
  <section class="flex-row justify-center">
    {{#each favorites.merch as |merch|}}
    {{> merch-wish-list}}
    {{/each}}
  </section>
</section>
