<!-- BODY -->
<!-- COVER IMAGE SECTION -->
<div class="container-fluid mx-0" style = "border: .2rem solid red">
  <img src="./Assets/home-photo.avif" class="img-fluid" alt="rock-band-homepage">
</div>
<!-- FEATURES SECTION -->
<div class="container-fluid mx-0" style = "border: .2rem solid red">
    <!-- FEATURED ARTISTS -->
    <div class = "row">
      <h2> FEATURED ARTISTS</h2>
    </div>
    <div class = "row" style = "border: .2rem solid blue">
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/artist-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      
    </div>
    <!-- FEATURED ALBUMS -->
    <div class = "row">
      <h2> FEATURED ALBUMS</h2>
    </div>
    <div class = "row" style = "border: .2rem solid blue">
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/album-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/album-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/album-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
      <div class = "col-xl-3 col-md-6 col-12" style = "border: .2rem solid green">
        <img src="../Assets/album-thumbnail.PNG" class="img-fluid" alt="artist-thumbnail">
      </div>
    </div>
    
  
</div>