
<div id="home-container">
  <!-- BODY -->
  <!-- COVER IMAGE SECTION -->
  <div class="container-fluid px-4">

    <div class="row px-0 mx-auto">
      <img
        src="../Assets/homepage-SMTB_BW.jpg"
        class="img-fluid mx-0 p-0 rounded"
        alt="rock-band-homepage"
      />
    </div>
  </div>

  {{!-- <div id="particles-js"> --}}
    
    <!-- FEATURES SECTION -->
    <div class="container-fluid mx-0">
    <!-- FEATURED ARTISTS -->
      <div class = "row text-center py-0">
        <h2 class="mb-0 mt-3"> FEATURED ARTISTS</h2>
      </div>
      <div class = "row">
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem; overflow:hidden">
            <img src="../Assets/PrayersFoto.jpg" class="card-img-top img-fluid" alt="..." style="height 15rem">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">PRAYERS</h5>
            </div>
          </div>
        </div>
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem;">
            <img src="../Assets/Provoker.JPG" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">PROVOKER</h5>
            </div>
          </div>
        </div>
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem;">
            <img src="../Assets/Dave.JPG" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">DAVE</h5>
            </div>
          </div>
        </div>
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem;">
            <img src="../Assets/ClosedTear.JPG" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        
      </div>
    <!-- FEATURED ALBUMS -->
      <div class = "row text-center py-0">
        <h2 class="mt-3 mb-0"> FEATURED ALBUMS</h2>
      </div>
      <div class = "row">
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem;">
            <img src="../Assets/ClosedTearAlbum.PNG" class="card-img-top img-fluid" alt="...">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem;">
            <img src="../Assets/artist-thumbnail.PNG" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem;">
            <img src="../Assets/artist-thumbnail.PNG" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" >
          <div class="card" style="width: 18rem;">
            <img src="../Assets/artist-thumbnail.PNG" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  