<!-- BODY -->
<!-- COVER IMAGE SECTION -->
<div class="container-fluid mx-0" style = "border: .2rem solid red">
  <img src="{{artists.filename}}" class="img-fluid" alt="rock-band-homepage">
</div>
<!-- FEATURES SECTION -->
<div class="container-fluid mx-0" style = "border: .2rem solid red">
    <!-- FEATURED ARTISTS -->
    <div class = "row">
      <h2> ALBUMS</h2>
    </div>
    <div class = "row" style = "border: .2rem solid blue">
      <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" style = "border: .2rem solid green">
        <div class="card" style="width: 18rem;">
          <img src="../Assets/artist-thumbnail.PNG" class="card-img-top" alt="...">
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      
    </div>
    <!-- FEATURED ALBUMS -->
    <div class = "row">
      <h2> MERCHANDISE</h2>
    </div>
    <div class = "row" style = "border: .2rem solid blue">
     <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" style = "border: .2rem solid green">
        <div class="card" style="width: 18rem;">
          <img src="../Assets/single-artist.PNG" class="card-img-top" alt="...">
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" style = "border: .2rem solid green">
        <div class="card" style="width: 18rem;">
          <img src="../Assets/single-artist.PNG" class="card-img-top" alt="...">
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" style = "border: .2rem solid green">
        <div class="card" style="width: 18rem;">
          <img src="../Assets/single-artist.PNG" class="card-img-top" alt="...">
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class = "col-xl-3 col-md-6 col-12 d-flex align-items-center justify-content-center p-3" style = "border: .2rem solid green">
        <div class="card" style="width: 18rem;">
          <img src="../Assets/single-artist.PNG" class="card-img-top" alt="...">
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      
  
</div>