
#header-ul li:hover, #footer-nav-ul li:hover {
  cursor: pointer;
  scale: 1.1;
  text-decoration: underline;
}

#get-all-artists, #get-home, #get-all-music{
    cursor: pointer;
}

/* DEV ROW RECORDS in navr bar*/
#Main_Title {
  font-weight: 900;
  font-size: 5rem;
  margin-left: 0.8rem;
}

/* all links in nav bar*/
.Home_Link {
  color: black !important;
  font-weight: 800 !important;
  margin-top: 2.7rem !important;
}

.card {
  box-shadow: 5px 5px 10px 10px gray;
}
.card:hover {
  scale: 1.1;
  cursor: pointer
}




